# Virtual Environment
.venv


# Python environment files
.env
ีีuploads/

workpdf/

# Python bytecode
*.pyc
__pycache__/

# IDE specific files
.idea/                  # PyCharm
.vscode/                # VS Code
*.sublime-project       # Sublime Text
*.sublime-workspace     # Sublime Text


alembic/
alembic.ini